<<<<<<< HEAD



#searchicon{

text-align: center;

}

#searchbutton{

text-align: center;
line-height: 50%;

}


ul {
  padding: 0;
}

.main-header {
  font-family: 'Montserrat';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: ;
  background: white;
  margin-top:2px;
  border:none;
  viewport:100%;
}

.name {
  font-size: 2.5em;
  margin: 20px 0 0 ;
}



.main-header li {
  list-style: none;
  padding: 5px;
}

@media (min-width:400px) {

  .name {
    font-size: 3em;
  }

  .main-nav {
    display: flex;
    justify-content: center;
  }

}

@media (min-width:700px) {

  .main-header {
    flex-direction: row;
    box-shadow: 0 2px 10px -5px rgba(0,0,0,1);
    justify-content: space-between;
  }

  .name {
    font-size: 2em;
    margin: 20px 0 15px 15px;
  }

  .main-nav {
  display: flex;

  }

  .main-nav li{
  padding: 15px;
  margin-right: 5px;
}

}



/* Navigation */

.logo {

  width: 30px;
  height:30px;


=======
body{
  margin:0;
  padding:0;
>>>>>>> 08a8ec473235099d587a4ea012844daffb553cc0
}

#end {
  display: flex;
  margin-left: 20%;

}

.toggle {
  margin-left:20px;
  margin-right:20px;
}
.search {
  margin-left: 20%;

}

<<<<<<< HEAD


/* background */


body {

background: white;


}


/* Video Positioning */



.videosection{

display: inline-block;
margin-top: 100px;

}

/* Previews */








.previews{

vertical-align: top;
display: inline-block;
color:black;
margin-left:20%;
margin-top:66px;

}

.previewtext h3 {

float:left;

}

#upnext{

margin-right: 5px;

}

#autoplay{

margin-left: 4px;

}








.firstsection{


margin-top:140px;


}




.previewtext label {

float:right;
margin-top:10px;
margin-left: 7px;
}



.thumbnaildescription{


float:right;
padding-left: 40%;
}

.thumbnaildescription p{


margin-bottom:92%;

}



.thumbnail{

float:left;
margin-top:10%;
padding-right: 40%;

}



/* Slider */

.switch {

position:relative;
display: inline-block;
width:60px;
height: 34px;

}


.switch input {

opacity:0;
width:0;
height:0;
}

.slider {

position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background-color: #ccc;
-webkit-transition:.4s;
transition:.4s;}

.slider:before{
position:absolute;
content:"";
height:26px;
width:26px;
left:4px;
bottom:4px;
background-color:white;
-webkit-transition:.4s;
transition:.4s;
}

input:checked + .slider{

  background-color: #2196F3;
}


input:focus + .slider {

box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before{
-webkit-transform:
translateX(26px);
-ms-transform: translateX(26px);
transform:translateX(26px);

}


.slider.round{
border-radius:34px;

}

.slide.round:before {

border-radius:50%;

}
=======

header {
  align-items: center;
  width:100%;
  justify-content: flex-start;
  display: flex;
  height:60px;
  box-shadow: 0 2px 2px 2px  rgb(233, 223, 223);
  }

>>>>>>> 08a8ec473235099d587a4ea012844daffb553cc0
